@model IEnumerable<Entities.Entities.CompraUsuario>

@{
    ViewData["Title"] = "MinhasCompras";
}

<div>
    <h1>Minhas compras</h1>


    @foreach (var item in Model)
    {
        if (item.ListaProdutos.Any())
        {
            <br />
            <a class="nav-link text-dark" asp-area="" asp-controller="CompraUsuario" asp-route-id="@item.Id" asp-action="Imprimir">Imprimir Boleto</a>
            <hr />
            <dl class="row">

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EnderecoCompleto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.EnderecoCompleto)
                </dd>

                <dt class="col-sm-2">
                    CEP
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.ApplicationUser.CEP)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QuantidadeProdutos)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.QuantidadeProdutos)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.ValorTotal)
                </dd>

            </dl>
            <h4>Produtos comprados</h4>

            <table class="table">
                <thead>
                    <tr>

                        <th>
                            Nome
                        </th>
                        <th>Imagem</th>
                        <th>
                            Descrição
                        </th>
                        <th>
                            Observação
                        </th>
                        <th>
                            Valor
                        </th>

                        <th>
                            Quantidade
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var produto in item.ListaProdutos)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => produto.Nome)
                            </td>

                            <td>
                                @{
                                    if (!string.IsNullOrWhiteSpace(produto.Url))
                                    {
                                        <img width="80" height="80" src=@produto.Url />
                                    }
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => produto.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => produto.Observacao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => produto.Valor)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => produto.QtdCompra)
                            </td>

                        </tr>
                    }

                </tbody>

            </table>

        }
        else
        {
            <h3>Não existe compras</h3>
        }
    }


</div>



