@model IEnumerable<Entities.Entities.Produto>

@{
    ViewData["Title"] = "ListarProdutosCarrinhoUsuario";
}

<h1>Listar de Produtos do Carrinho</h1>

<br />
<a class="text-dark" asp-area="" asp-controller="CompraUsuario" asp-action="FinalizarCompra">Comprar do carrinho</a>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>Imagem</th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.QtdCompra)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @{
                        if (!string.IsNullOrWhiteSpace(item.Url))
                        {
                            <img width="80" height="80" src=@item.Url />
                        }
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.QtdCompra)
                </td>

                <td>

                    @Html.ActionLink("Remover", "RemoverCarrinho", new { id = item.IdProdutoCarrinho })
                </td>
            </tr>
        }
    </tbody>
</table>
